In [1]:
# importing modules
import numpy as np
import pandas as pd

## Creating a Data Frame
#### DataFrames can be of : 
Dict of 1D ndarrays, lists, dicts, or Series \
2-D numpy.ndarray \
Structured or record ndarray \
A Series \
Another DataFrame

### From Diction of Series Objects

In [2]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [3]:
df = pd.DataFrame({'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])})

In [4]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [5]:
df = pd.DataFrame(d)

In [6]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [7]:
# dict with naes renamed # diffrent ndexes causes nans
pd.DataFrame({'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two': pd.Series([1., 2., 3., 4.]
    , index=['a', 'b', 'c', 'd'])}, 
    index=['d', 'b', 'a'], 
    columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [8]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
df.columns

Index(['one', 'two'], dtype='object')

### From dict of ndarrays / lists

In [10]:
d = {'one': [1., 2., 3., 4.],'two': [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [11]:
df  = pd.DataFrame(d, index=['a', 'b', 'c', 'd']) # setting indexes

### From a list of dicts

In [12]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] #row wise

In [13]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [14]:
pd.DataFrame(data2, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [15]:
pd.DataFrame(data2, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

### From a dict of tuples

In [16]:
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
    ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
    ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
    ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
    ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

### From a Series

In [17]:
pd.DataFrame(pd.Series([1., 2., 3.]))

     0
0  1.0
1  2.0
2  3.0

## Column selection, addition, deletion

In [18]:
df['one']

a    1.0
b    2.0
c    3.0
d    4.0
Name: one, dtype: float64

In [21]:
df['three'] = df['one'] * df['two']

In [22]:
df['flag'] = df['one'] > 2

In [24]:
del df['two']

In [25]:
three = df.pop('three')

In [26]:
three

a    4.0
b    6.0
c    6.0
d    4.0
Name: three, dtype: float64

In [27]:
df['foo'] = 'bar' # When inserting a scalar value, it will naturally be propagated to fill the column

In [28]:
df

   one   flag  foo
a  1.0  False  bar
b  2.0  False  bar
c  3.0   True  bar
d  4.0   True  bar

In [29]:
df['one_trunc'] = df['one'][:2] 
# When inserting a Series that does not have the same index as the DataFrame, it will be conformed to the DataFrameâ€™s index

In [30]:
df

   one   flag  foo  one_trunc
a  1.0  False  bar        1.0
b  2.0  False  bar        2.0
c  3.0   True  bar        NaN
d  4.0   True  bar        NaN