In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200]
index = list(range(0,20))

# Series 
### Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index

In [3]:
# creating a series object
myseries = pd.Series(data , index=index)
myseries

0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9     100
10    110
11    120
12    130
13    140
14    150
15    160
16    170
17    180
18    190
19    200
dtype: int64

In [4]:
# function used to find the index
myseries.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

### Series can also have a name attribute:

In [5]:
array = pd.Series(np.random.randn(5), name='number')

In [6]:
# u can also rename a series object
array.rename("number")

0    1.329675
1    0.900890
2   -0.529337
3   -0.441022
4    1.095781
Name: number, dtype: float64

### Creating a series object can be from a numpy array , dictionary and scalar object

In [7]:
# from a numpy array
narray = pd.Series(np.random.randint(1,40,20),index=index)
narray

0     19
1      6
2     10
3     33
4     36
5     28
6     18
7     17
8     10
9     35
10    14
11     2
12    39
13    11
14     1
15     2
16    22
17    25
18    13
19     3
dtype: int32

In [8]:
# from a dictionary
dseries = pd.Series({'age':data})
dseries

age    [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110,...
dtype: object

In [9]:
# from a scalar object
scseries = pd.Series(5. , index=['a','b','c','d','e','f','g'])
scseries

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
g    5.0
dtype: float64

## Series is Similar to a numpy array

In [10]:
array = pd.Series(data,index=['a','b','c','d','e',  'f','g','h','i','j','k','l','m','n','o','p','q','r','s','t'])

In [11]:
array[0]

10

In [12]:
array[:3]

a    10
b    20
c    30
dtype: int64

In [13]:
array[array > array.median()] # the centre value

k    110
l    120
m    130
n    140
o    150
p    160
q    170
r    180
s    190
t    200
dtype: int64

### Selecting objects with index
### Series objects are similar to dictionaries

In [14]:
array[[1,3,5]]

b    20
d    40
f    60
dtype: int64

In [15]:
array[1]

20

In [16]:
array['a'] = 0
array['a']

0

In [17]:
array['a'] = 10
array['a']

10

In [18]:
#array['z']

In [19]:
array.get('z',np.nan)

nan

In [20]:
# seeing a series as an array
array.array

<PandasArray>
[ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130, 140, 150,
 160, 170, 180, 190, 200]
Length: 20, dtype: int64

In [21]:
# converting a series object to a numpy array
array.to_numpy()

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200], dtype=int64)

## Vectorized operations and label alignment with Series

### When working with raw NumPy arrays, looping through value-by-value is usually not necessary. The same is true when working with Series in pandas. Series can also be passed into most NumPy methods expecting an ndarray.

In [22]:
array + array # values change

a     20
b     40
c     60
d     80
e    100
f    120
g    140
h    160
i    180
j    200
k    220
l    240
m    260
n    280
o    300
p    320
q    340
r    360
s    380
t    400
dtype: int64

In [23]:
array * 2 # values change

a     20
b     40
c     60
d     80
e    100
f    120
g    140
h    160
i    180
j    200
k    220
l    240
m    260
n    280
o    300
p    320
q    340
r    360
s    380
t    400
dtype: int64

### A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [24]:
array[1:] + array[:-1]

a      NaN
b     40.0
c     60.0
d     80.0
e    100.0
f    120.0
g    140.0
h    160.0
i    180.0
j    200.0
k    220.0
l    240.0
m    260.0
n    280.0
o    300.0
p    320.0
q    340.0
r    360.0
s    380.0
t      NaN
dtype: float64