Defining `variables` that we will be working on

In [16]:
mynum = 20
mynum2 = 30
mystr = '20'
lst = [1,2,3,4,5,4,3,7,8,6,4,3,2,1]
name ='Sam','Hanon','Samara','Mero'
lsto = [1,2,3,4]
tup = (1,2,3)

## `str() `
## `int() `
## `float()` 
## `list()`
## `min()` 
## `max()` 
## `zip() `
## `print()`
## `reversed()`
## `type() `
## `format()` 
## `len() `
## `sum() `
`

In [31]:
print(type(str(mynum)))

<class 'str'>

In [32]:
print(type(int(mystr)))

<class 'int'>

In [34]:
print(float(mynum))

20.0

In [35]:
print(list(tup))

[1, 2, 3]

In [37]:
print(max(lst))
print(min(lst))

8
1

In [38]:
ss = zip(name,lsto)

In [39]:
print(ss)

<zip object at 0x0000024DA964A740>

In [40]:
for x in ss :
    print(x)

('Sam', 1)
('Hanon', 2)
('Samara', 3)
('Mero', 4)

In [41]:
for z,y in zip(name,lsto):
    print(z,y)

Sam 1
Hanon 2
Samara 3
Mero 4

In [45]:
s = reversed(lsto)
print(s)

<list_reverseiterator object at 0x0000024DA9633850>

In [48]:
for y in s :
    print(y)

4
3
2
1

In [49]:
type(s)

list_reverseiterator

In [51]:
print('Hello id : {}'.format(2))

Hello id : 2

In [53]:
len('Sam ')

4

In [54]:
sum(lsto)

10

In [28]:
def function(name):
    print(name)
    
    print(name * 2)
function('hello')

hello
hellohello

In [21]:
print(str(mynum)) # mynum
print(int(mystr)) # mystr
print(float(mynum2)) # mystr
print(list(tup)) # mynaum , mystring
print(min(lst)) # lst
print(max(lst)) # lst

print(mynum) # mynum
print(reversed(lst)) # lst
print(type(mynum)) # mynum
print('My string'.format(mynum) )# mynum
print(len(mystr)) # mystring
print(sum(lst)) # mystring
print(round(20, 2)) # mynum, 2

20
20
30.0
[1, 2, 3]
1
8
<zip object at 0x0000024DA9631CC0>
20
<list_reverseiterator object at 0x0000024DA96338B0>
<class 'int'>
My string
2
53
20